<!DOCTYPE html>
<html>
<head>
  <title>Starter Template for Flatstrap</title>
  <%= render 'shared/meta' %>
  <%= render 'shared/stylesheets' %>
  <%= render 'shared/shiv' %>
</head>

<body>
  <%= render 'shared/nav' %>
  <%= render 'shared/alerts' %>
  <%= yield %>
  <%= render 'shared/footer' %>
</body>
</html>
