<!DOCTYPE html>
<html>
<head>
  <title>T. Payne.net | Blog / Resume / Portfolio</title>
  <%= render 'shared/meta' %>
  <%= render 'shared/stylesheets' %>
  <%= render 'shared/shiv' %>
</head>

<body>
  <%= render 'shared/nav' %>
  <%= render 'shared/alerts' %>
  <%= yield %>
</body>
</html>